@model IEnumerable<Capstone.Models.Deck>

@{
    ViewData["Title"] = "Community Decks";
}

<h2>Community Decks</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <p>Created by Admin</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicDeck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            string itemDescription = String.IsNullOrEmpty(item.Description) ? "No Description" : item.Description;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <p>
                        <a asp-action="ViewDeck" asp-route-deckId="@item.Id">View Deck</a>
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicDeck)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemDescription)
                </td>
            </tr>
        }
    </tbody>
</table>