@model Capstone.Models.Deck

@{
    string noDeck = "";

    noDeck = Model.Name.ToLower().Contains("deck") ? "" : " Deck";

    ViewData["Title"] = "Delete " + Model.Name + noDeck + "?";
}

<h2>Are You Sure You Want To Delete @Model.Name @noDeck?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicDeck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicDeck)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteDeck" method="post" asp-route-deckId="@Model.Id" asp-route-routedUserId="@Model.UserId">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="ViewDeck" asp-route-deckId="@Model.Id">Cancel</a>
    </form>
</div>
