@model Capstone.Models.View_Models.OtherUsersDeckViewModel

@{
    string noDeck = "";
    noDeck = Model.Deck.Name.ToLower().Contains("deck") ? "" : " Deck";
    ViewData["Title"] = Model.Deck.Name + noDeck;
}


<div class="deck-title">
    <h1>@Model.Deck.Name @noDeck by @Model.DeckOwnerName</h1>
</div>

<div class="deck-description">
    <p>@Model.Deck.Description</p>
</div>

<hr />

<div class="content-box">

    <div class="button-box">
        <div class="deck-buttons">
            @if (Model.Deck.Cards.Count > 0)
            {
                <a asp-controller="Study" asp-action="Index" asp-route-deckId="@Model.Deck.Id">Start Study Session</a>
            }
            <a asp-action="CommunityDecks">Back to Community Decks</a>
        </div>

    </div>

    <div class="cards">
        @foreach (var card in Model.Deck.Cards)
        {
        <div>
            <div class="card" style="background-color: @Model.Deck.DeckColor;">
                <div class="card-info">
                    @if (String.IsNullOrEmpty(card.ImageURL))
                    {
                        <p class="front" style="color: @Model.Deck.TextColor;">@card.Front</p>
                    }
                    @if (!String.IsNullOrEmpty(card.ImageURL))
                    {
                        <img src="@card.ImageURL" />

                    }
                    <p class="back hidden" style="color: @Model.Deck.TextColor;">@card.Back</p>
                </div>
            </div>
            <form asp-action="AddCardFromOtherUsersDeck" method="post">
                <input type="submit" value="Add to Deck" />
                <input type="hidden" class="submit-the-card-id" asp-for="Card.Id" />
                <select asp-for="Card.DeckId" asp-items="Model.UserDecksSelectList"></select>
            </form>
        </div>
        }
    </div>
</div>

<script src="~/js/Decks/NotOwnersDeck.js"></script>
<link href="~/css/Decks/NotOwnerDeck.css" rel="stylesheet" />
