@model Capstone.Models.Deck

@{
    ViewData["Title"] = "ViewDeck";
}

<link href="~/css/Decks/ViewDeck.css" rel="stylesheet" />

<div class="deck-title">
    <h1>@Model.Name Deck</h1>
</div>

<div class="deck-description">
    <p>@Model.Description</p>
</div>

<hr />

<div>
    @*TODO: The below are hidden in case we would like to display these values in the future - Evaluate?*@
    <dl class="dl-horizontal">
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.PublicDeck)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.PublicDeck)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="hidden">
            @Html.DisplayNameFor(model => model.ForReview)
        </dt>
        <dd class="hidden">
            @Html.DisplayFor(model => model.ForReview)
        </dd>
    </dl>
</div>

<div class="cards">
    @foreach (var card in Model.Cards)
    {
        <div class="card">
            <p class="front">@card.Front</p>
            <p class="back hidden">@card.Back</p>
            <a class="hidden" asp-action="UpdateCard" asp-route-cardId="@card.Id">Update Card</a>
            <a class="hidden" asp-action="AddTag" asp-route-cardId="@card.Id">Add Tag</a>
            <a class="hidden" asp-action="DeleteCard" asp-route-cardId="@card.Id">Delete Card</a>
        </div>
    }
</div>

<hr />

<div>
    <a asp-action="AddCard" asp-route-deckId="@Model.Id">Add a card to this deck</a> |
    <a asp-action="EditDeck" asp-route-deckId="@(Model.Id)">Edit Deck</a> |
    <a asp-action="DeleteDeck" asp-route-deckId="@(Model.Id)">Delete Deck</a> |
    <a asp-action="Index" asp-route-userId="@(Model.UserId)">Back to Decks</a>
</div>

<script src="~/js/Decks/ViewDeck.js"></script>
