@model Capstone.Models.Deck

@{
    ViewData["Title"] = Model.Name + " Deck";
}

<link href="~/css/Decks/ViewDeck.css" rel="stylesheet" />

<div class="deck-title">
    <h1>@Model.Name Deck</h1>
</div>

<div class="deck-description">
    <p>@Model.Description</p>
</div>

<hr />

<div class="cards">
    @foreach (var card in Model.Cards)
    {
    <div class="card">
        <p class="front">@card.Front</p>
        @if (!String.IsNullOrEmpty(card.ImageURL))
        {
            <img src="@card.ImageURL" />

        }
        <p class="back hidden">@card.Back</p>
        <a class="hidden" asp-action="UpdateCard" asp-route-cardId="@card.Id">Update Card</a>
        <a class="hidden" asp-action="AddTag" asp-route-cardId="@card.Id">Add Tag</a>
        <a class="hidden" asp-action="DeleteCard" asp-route-cardId="@card.Id">Delete Card</a>
    </div>
    }
</div>

<hr />

<div>
    @if (Model.Cards.Count > 0)
    {
        <a asp-controller="Study" asp-action="Index" asp-route-deckId="@Model.Id">Start Study Session</a> <span>|</span>
    }
    <a asp-action="AddCard" asp-route-deckId="@Model.Id">Add a card to this deck</a> |
    <a asp-action="EditDeck" asp-route-deckId="@(Model.Id)">Edit Deck</a> |
    <a asp-action="DeleteDeck" asp-route-deckId="@(Model.Id)">Delete Deck</a> |
    <a asp-action="Index" asp-route-userId="@(Model.UserId)">Back to Decks</a>
</div>

<script src="~/js/Decks/ViewDeck.js"></script>